/* thong thuong thi trong trinh duyet se mac dinh san mot vai css vi vay ma can phai reset lai cau truc css cua trinh duyet */
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans+Wancho&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');


header{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}


.header .header1{
    background-color: var(--color1);
    text-align: center;
    color: var(--color2);
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
}

@media (max-width:870px){
    .header .header1{
        font-size: 0.8rem;
        
    }
    .header2 .iner-wrap .lienhe{
        display: none;
    }
}

.header2{
    background-color: #ffffff;
    max-width: 1200px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header2 .iner-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.header2 .iner-wrap .logo1 a{
    flex-wrap: wrap;
    display: flex;
}
.header2 .iner-wrap .logo1 img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.header2 .iner-wrap .logo1 span{
    flex-wrap: wrap;
    display: inline-flex;
    text-align: center;
    align-items: center;
    font-size: 22px;
    color: var(--color1);
    font-weight: bold;
}

.header2 .iner-wrap .menu1{
    display: flex;
    flex-wrap: wrap;
    
}
.header2 .iner-wrap .menu1 ul li{
    font-size: 18px;
    text-transform: capitalize;
    margin: 10px;
}
.header2 .iner-wrap .menu1 ul li a:hover{
    color: var(--color5);
    
}


.header2 .iner-wrap .logo2 ul{
    display: flex;
}
.header2 .iner-wrap .logo2 ul li{
    margin-right: 8px;
}
.header2 .iner-wrap .logo2 ul li:last-child{
    margin-right: 0;
}
.header2 .iner-wrap .logo2 ul li a{
    font-size: 25px;
    font-style: normal;
}
.header2 .iner-wrap .menu2{
    display: none;
}
@media (max-width: 680px){
    .header2 .iner-wrap .menu1{
        display: none;
    }
    .header2 .iner-wrap .logo2{
        display: none;
    }
    .header2 .iner-wrap .menu2{
        display: block;
        font-size: 22px;
    }
}
.khoi-1{
    background-color: var(--color6);

}
.khoi-1 .cla{
    background-color: var(--color6);
    display: flex;
    padding: 100px 0;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}
.khoi-1 .cla .text1{
    width: 50%;
    height: auto;

}

.khoi-1 .cla .image2{
    width: 50%;
    height: auto;
    position: relative;
}
.khoi-1 .cla .text1 .dauvao{
    font-size: 60px;
    font-weight: bold;
    color: var(--color1);
}
.khoi-1 .cla .text1 .vanban1{
    color: var(--color1);
    font-size: 22px;
}
.khoi-1 .cla .text1 .vien1{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    align-content: space-between;
    margin-bottom: 40px;
}
.khoi-1 .cla .text1 .vien1 .mini1{
    font-size: 17px;
    width: 50%;
    
}
.khoi-1 .cla .text1 .vien1 .mini1 .fa-solid{
    margin-right: 5px;
}
.khoi-1 .cla .text1 .vien1 .mini1 .fa-brands{
    margin-right: 5px;
}
.khoi-1 .cla .text1 .link_button{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 25px;
    height: 30px;
    width: 150px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--color2);
    border-radius: 25rem;
    transition: all 0.3s ease;
}
.link_button{
    background-color: var(--color2);
    color: #ffffff;
}
.link_button:hover{
    color: var(--color2);
    background-color: aliceblue;
}

.khoi-1 .cla .image2 img{
    width: 100%;
    height: 100%;

}
.khoi-1 .cla .image2 .hinhtron{
    position: absolute;
    top: 0;
    right: 120px;
    background-color: var(--color2);
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.khoi-1 .cla .image2 .hinhtron .x1{
    font-size: 25px;
    color: var(--color1);
}
.khoi-1 .cla .image2 .hinhtron .x2{
    font-size: 45px;
    color: var(--color1);
    font-weight: bold;
}
/* .sjs{ */
    /* aspect-ratio: ; la ti le cua width/height cua element */
    /* object-fit: ; la chi so de anh tu co gian het width va heigth ma khong bi vo */
/* } */

